<section class="notification-form-container">
  <h1>{{ title }}</h1>
  <div class="wrapper">
    <form
      [formGroup]="notificationForm"
      (ngSubmit)="onSubmit()"
      class="notification-form"
    >
      <mat-form-field appearance="fill">
        <mat-label>Icon</mat-label>

        <mat-select
          formControlName="icon"
          placeholder="Enter Icon"
          [(value)]="icon"
        >
          <mat-select-trigger *ngIf="icon">
            <mat-icon>{{ icon }}</mat-icon>
            <span>{{ icon }}</span>
          </mat-select-trigger>
          @for (icon of icons; track icon) {

          <mat-option [value]="icon">
            <mat-icon>{{ icon }}</mat-icon>
            <span>{{ icon }}</span>
          </mat-option>

          }
        </mat-select>
        <mat-error *ngIf="notificationForm.get('icon')?.hasError('required')">
          Icon is required.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Message</mat-label>
        <input
          matInput
          formControlName="message"
          placeholder="Enter message"
          #message
        />
        <mat-error
          *ngIf="notificationForm.get('message')?.hasError('required')"
        >
          Message is required.
        </mat-error>
        <mat-error
          *ngIf="notificationForm.get('message')?.hasError('maxlength')"
        >
          Message cannot be more than 255 characters.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Metadata</mat-label>
        <input
          matInput
          formControlName="metadata"
          placeholder="Enter metadata"
          #metadata
        />
        <mat-error
          *ngIf="notificationForm.get('metadata')?.hasError('required')"
        >
          Metadata is required.
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Link</mat-label>
        <input
          #link
          matInput
          formControlName="link"
          type="url"
          placeholder="Enter link (optional)"
        />
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="notificationForm.invalid"
      >
        Submit
      </button>
    </form>
    <!-- notification preview  -->
    <div class="notification-preview">
      <h2>preview</h2>
      <mat-card appearance="outlined">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image">
            <mat-icon>{{ icon }}</mat-icon>
          </div>
          <mat-card-title> {{ message?.value }}</mat-card-title>
          <mat-card-subtitle> {{ metadata?.value }}</mat-card-subtitle>
        </mat-card-header>
        @if(link.value){
        <mat-card-actions align="end">
          <a mat-button [href]="linkUrl" target="_blank"
            >Learn More (opens new tab)</a
          >
        </mat-card-actions>
        }
      </mat-card>
    </div>
  </div>
</section>
