.notification-list-title-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

}
.notification-list-wrapper{
display: flex;
flex-direction: column;
gap:2rem
}
.filter-field{
  width: 15rem;
}
.responsive-table{
  width: 100%;
  overflow-x: auto;
}

