<div class="app-container" [class.example-is-mobile]="isMobile()">
  <mat-toolbar class="app-container_toolbar">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="app-name">Admin App</h1>
  </mat-toolbar>

  <mat-sidenav-container [style.marginTop.px]="isMobile() ? 56 : 0">
    <mat-sidenav
      #sidenav="matSidenav"
      [mode]="isMobile() ? 'over' : 'side'"
      [fixedInViewport]="isMobile()"
      fixedTopGap="56"
      class="mat-elevation-z8"
    >
      <span>Mayar</span>
      <p>Software Engineer</p>

      <mat-divider></mat-divider>
      <mat-nav-list class="nav-links-list">
        @for(navLink of navLinks;track navLink.title){
        <button mat-button class="menu-button" [routerLink]="navLink.link">
          <mat-icon>{{ navLink?.icon }}</mat-icon>
          <span>{{ navLink.title }}</span>
        </button>
        }
      </mat-nav-list>
      <mat-divider></mat-divider>

      <button mat-button class="menu-button" routerLink="/help">
        <mat-icon>help</mat-icon>
        <span>Help</span>
      </button>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="content mat-elevation-z8">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
