@use "./app/assets/styles/colors.scss" as *;
@use "@angular/material" as mat;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root  {
  @include mat.button-overrides(
    (
      protected-container-color: $primary-color,
      protected-label-text-color: $white,
    )
  );
}
